{% extends "PadelLeagueBundle:Default:layout.html.twig" %}

{% block content %}
    <h1>Select league</h1>

    {% if error is empty %}
        <table id="tablesorter-teams" class="tablesorter"> 
            <thead> 
                <tr> 
                    <th>Teams</th> 
                    <th>Cars</th>
                </tr> 
            </thead> 
            <tbody> 
            {% for team in teams %}               
                <tr>
                    <td>{{ team.name1 }}</td>
                    <td>                    
                        <select>
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="mercedes">Mercedes</option>
                          <option value="audi">Audi</option>
                        </select>
                    </td>
                </tr>
            {% endfor %}            
            </tbody> 
        </table> 
    {% else %}
        {{ error }}
    {% endif %}
    <form action="{{ path('team_division') }}" id="login" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" class="symfony-button-grey" value="SAVE" />
    </form>
{% endblock %}