{% extends "PadelLeagueBundle:Leagues:layout.html.twig" %}

{% block content %}
    <h1>Leagues</h1>
    {% if error is empty %}
        <table id="tablesorter-demo" class="tablesorter"> 
            <thead> 
                <tr> 
                    <th>Name</th> 
                    <th>Year</th> 
                    <th>Status</th> 
                </tr> 
            </thead> 
            <tbody> 
                {% for league in leagues %}               
                    <tr url="{{ path('league_manager', { 'id': league.id } ) }}" >
                        <td>{{ league.name }}</td>
                        <td>{{ league.year }}</td>
                        <td>{{ league.status }}</td>
                    </tr>
                {% endfor %}            
            </tbody> 
        </table> 
    {% else %}
        {{ error }}
    {% endif %}
    <br />
    <br />
    <ul id="demo-list">
        <a href={{ path('create_league') }}>Create League</a> 
    </ul>
{% endblock %}

{% set code = code(_self) %}
